/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.mark-complete-button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    color: #999;
}
